
.ant-input-affix-wrapper {
  width: 100% !important;
}
.side_left {
  width: 100%;
  display: flex;
}
.projects_fondation{
  position: relative;
}
.projects_fondation::before{
  top: 18px;
  content: "";
  width: 40%;
  position: absolute;
  height: 2px;
  border: 1px solid gray;
  right: 0;
}
.projects_fondation::after{
  top: 18px;
  content: "";
  width: 40%;
  position: absolute;
  height: 2px;
  border: 1px solid gray;
  left: 0;
}
.logo-img {
  float: right;
  width: 175px;
}
.logo-img > img {
  width: 100%;
}
.menu {
  width: 100%;
}
.search {
  width: 100%;
}
.center_content {
  padding: 0 !important;
}
.side_content_row {
  margin: 0 !important;
  width: 100%;
  align-items: center;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
